<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Login Page</h2>
    <form th:action="@{/users/login}" method="post" th:object="${loginRequest}">
        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br><br>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br><br>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
